fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
torch
torchvision
scikit-learn
joblib
timm
efficientnet_pytorch
numpy
pillow
sqlalchemy
opencv-python-headless
reportlab
google-generativeai
google-genai
groq
